:root:after{
    box-sizing: border-box;
}

html, body {
    padding: 0 !important;
    margin: 0 !important;
    height: auto;
    width: 100vw;
    min-width: 100vh;
}

img.brand {
    display: block;
    height: 30px;
    padding-left: 10px;
}

.nav-back-button{
    outline: 0;
    border-radius: 50%;
    font-size: 1.5em;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

main{
    /* width: 100vw; */
    margin: auto;
}

main .diagram-container {
    margin: auto;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    margin: 0;
    padding: 10px;
    background: black;
}

.nav-inner{
    display: flex;
    align-items: center;
}